body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Nanum Myeongjo', serif;
    color: #fff;
    background: #050505;
    scroll-behavior: smooth;
    overflow: hidden;
}

span {
    display: inline-block;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.dg.ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important; /* TODO Solve this in HTML */
}



/* Footer */
.footer {
    border: none;
    width: 100%;
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 9px;
    transition: all 0.8s ease-out 1.1s;
    color: antiquewhite;
    font-weight: 100;
    opacity: 0.2;
    text-align: center;
}
.footer a {
    text-decoration: none;
    pointer-events: auto;
    color: antiquewhite;
}


nav { 
    width: 100%; 
    padding: 1rem; 
    position: fixed;  
    z-index: 2;
}

.cursor { 
    pointer-events: none;
    position: fixed; 
    top: 10px; 
    left: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%; 
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: transform .8s ease, opacity 0.6s ease;
    z-index: 2;
}

.a { 
    display: inline-block; 
    color: #fff; 
    padding: 1rem;
    margin-right: 4rem;
    letter-spacing: .4em;
    font-size: .9em;
    transition: all 0.3s ease, color 0.3s ease;
}

nav.header .a:hover {
    cursor: pointer;
    color: rgb(175, 175, 175); 
    transform: scale(1.1); 
}

nav.header .a:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(5); opacity: 0.1; 
}