.lds-roller {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:#f9f0ec;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) { animation-delay: -0.036s; }
.lds-roller div:nth-child(2) { animation-delay: -0.072s; }
.lds-roller div:nth-child(3) { animation-delay: -0.108s; }
.lds-roller div:nth-child(4) { animation-delay: -0.144s; }
.lds-roller div:nth-child(5) { animation-delay: -0.18s; }
.lds-roller div:nth-child(6) { animation-delay: -0.216s; }
.lds-roller div:nth-child(7) { animation-delay: -0.252s; }
.lds-roller div:nth-child(8) { animation-delay: -0.288s; }

@keyframes lds-roller {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-text-intro {
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 100;
    color: #f9f0ec;
    background: radial-gradient(circle at center center, #5d5d5d 0, #090909 58%);
}
#loading-text-intro.ended {
    transform: translateY(200%);
}
