.first {
    /* pointer-events: none; */
    font-size: 2em;
    letter-spacing: .5em;
    text-align: center;
    width: 100%;
    display: flex;
    height: 120vh;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg, rgba(5,5,5,1) 20%, rgba(5,5,5,0) 50%);
}
.first>h2 {
    font-size: 1em;
    line-height: 0;
    font-weight: 100;
    letter-spacing: .25em;
    font-style: italic;
    margin: 35px;
}
.first>h1 {
    pointer-events: auto; /* Allow interactions */
    margin: 10px 0;
    font-weight: 100;
    letter-spacing: 0.4em;
    position: relative; /* Ensure `::after` is positioned relative to this */
    font-size: clamp(2.6rem, 7vw, 3.6rem);

}

/* horizontal underline */
.first > h1::after {
    content: "";
    position: absolute;
    margin-top: 105px;
    left: 50%; /* Centered */
    transform: translateX(-50%); /* Adjust centering */
    width: 50px; /* Initial width */
    height: 2px;
    background: #ffffff70;
    transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

/* Smoothly expand and change color on hover */
.first > h1:hover::after {
    width: 100px; /* Expanded width */
    background: white; /* Brighten color */
}


.first>p {
    font-size: 13px;
    letter-spacing: 0px;
    font-family: sans-serif;
    width: 700px;
    line-height: 28px;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #c9c9c996;
    opacity: 0;
    transition: all 3.9s ease-in-out;
}
.first>p.ended {
    opacity: 1;
}