/* About section */
.second {
    pointer-events: all;
    font-size: 2em;
    width: 100%;
    display: flex;
    height: 100vh;
    background: #141414;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px); /* Slight upward movement */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}
/* When visible, fade in */
.second.visible {
    opacity: 1;
    transform: translateY(0);
}

.second-container {
    pointer-events: all;
    width: 100%;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0 10%;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background: radial-gradient(circle at 90% center, rgba(5,5,5,0) 30%, #141414 70%);
}

.second-container>ul {
    list-style: none;
    display: inline-flex;
    padding: 0px;
    margin: 0px 0px 30px 60px;
    font-family: 'DM Serif Display', serif;
    color:#ffffff1c;
    z-index: 2;
}
.second-container>ul>li.active:after {
    content: "";
    top: 20px;
    width: 50px;
    height: 2px;
    background: #ccc;
    position: relative;
    left: 0px;
    display: block;
    transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

/* Smoothly expand and change color on hover */
.second-container>ul>li.active:hover:after {    
    width: 65px; /* Expanded width */
    background-color: white; /* New color */
}

.second-container>ul>li {
    padding-right: 20px;
    transition: all 0.8s ease-out;
}
.second-container>ul>li:hover {
    color:whitesmoke;
    pointer-events: all;
    cursor: pointer;
}
.second-container>ul>li.active {
    color:whitesmoke;
}
.second-container>p {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 24px;
    width: 30%;
    color: #898989;
    margin-left: 60px;
    height: 200px;
}